{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">Welcome to {{ store.name }}</h1>
        <p class="welcomeText">{{ store.tagline }}</p>
        <p class="welcomeText">Dig into biographies, behind-the-scenes histories, and listening guides from every era of music.</p>
        <p class="welcomeText">Pick a category to browse our featured shelves and find your next read.</p>
    </div>
    <div id='mainRight'>
        <h1>Shop by category:</h1>
        <div id='categorySelections'>
            {% for category in categories %}
                <div class='category'>
                    <a href="{{ url_for('category', categoryId=category['id']) }}">
                        <img src="{{ url_for('static', filename='images/categories/' ~ category['image']) }}" alt="{{ category['name'] }}">
                    </a>
                    <p><a href="{{ url_for('category', categoryId=category['id']) }}">{{ category['name'] }}</a></p>
                </div>
            {%endfor%}

        </div>
    </div>
</main>
{% endblock %}
